* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0.2rem; */
  font-family: 'Crimson Text', serif;
}

.navbar {
  display: flex;
  padding: 0px 15px 0px 15px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 5px black;
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100vw;
  background-color: aliceblue;
}

.navbar a {
  margin: 0px 2px 0px 2px;

  text-align: center;
}

.navbar h1 {
  font-family: 'Dancing Script', cursive;
}
#selected {
  font-size: larger;
  color: red;
  text-decoration: underline;
}

.container {
  margin-top: 60px;
  height: 100%;
}

a {
  color: rgb(15, 101, 172);
  text-decoration: none;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  display: none;
}
.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.open {
  display: block !important;
}

.mobile-nav {
  animation: drawerAnimation 0.2s ease-in-out forwards;
}

.mobile-navlinks {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    font-size: 0;
  }

  100% {
    font-size: 25px;
  }
}

@keyframes drawerAnimation {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 50vw;
    opacity: 1;
  }
}

.navbar {
  z-index: 1000;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  padding-top: 25px;
  background: white;
  width: 50%;
  height: 100vh;
  box-shadow: 0px 0px 66px 5px rgb(19, 20, 20);
}

/* .mobile-nav ul {
  padding: 0px;
  
} */

.mobile-navlinks li {
  font-size: 30px;
  list-style-type: none;
  margin-top: 20px;
  animation: grow 0.5s ease-in-out forwards;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 780px) {
  .nav-links {
    display: none;
  }

  .toggle-button {
    display: inline;
  }
  .navbar {
    justify-content: space-between;
  }
}
